# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ / Eclipse / VSCode
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store

# Playwright related output
playwright-report/
playwright/.cache/
